Dengue districts 1998-2019.xlsx
MDR_NEW_Boundaries_Final.cpg
MDR_NEW_Boundaries_Final.dbf
MDR_NEW_Boundaries_Final.prj
MDR_NEW_Boundaries_Final.shp
MDR_NEW_Boundaries_Final.shx
data.csv
full_data_with_new_boundaries.rds
